<div class="panel panel-default">
    <div class="panel-heading">
        <i class="icon-cloud"></i> <span>编辑服务<strong class='text-primary'>{{serviceKey}}</strong>报警阀值</span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                <form name="providerForm" action="/alarm/strategy/save.htm?application="+{{strategy.application}}>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label>所属应用：</label>
                                {{strategy.application}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label>接口名称：</label>
                                {{strategy.serviceInterface}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label>方法：</label>
                                {{strategy.method}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                            <div class="form-group form-inline">
                                <label>TPS：</label>
                                <input ng-model="strategy.tps" integer required="required" type="number" name="tps"
                                       class="form-control input-sm " value="{{strategy.tps}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                            <div class="form-group form-inline">
                                <label>响应时间（ms）：</label>
                                <input ng-model="strategy.elapsed"  integer required="required" type="number" name="elapsed"
                                       class="form-control input-sm " value="{{strategy.elapsed}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                            <div class="form-group form-inline">
                                <label>错误的次数：</label>
                                <input ng-model="strategy.failureCount" integer required="required" type="number" name="failureCount"
                                       class="form-control input-sm " value="{{strategy.failureCount}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
                            <div class="form-group form-inline">
                                <label>是否有效：</label>
                                <select name="effective"  ng-model="strategy.effective" >
                                    <option selected =true value="1" checked="{{strategy.effective == 1?true:false}}">true</option>
                                    <option value="0" checked="{{strategy.effective == 0?true:false}}">false</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
                            <button type="submit" class="btn btn-primary btn-sm"
                                    ng-disabled="providerForm.$invalid">保存
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
</div>